<div class="items-container">
  <% items.forEach(item => { %>
  <div href="/items/<%= item.id %>">
    <div class="item-card">
      <div class="item-image"></div>
      <h3 class="item-name"><%= item.parentItemName || item.name %></h3>
      <% if (item.parentItemName) { %>
      <div class="variant-name"><%= item.name %></div>
      <% } %>
      <% if (item.quantity !== null) {%>
      <div class="item-quantity"><%= item.quantity %><%= item.quantity <= 1 ? ` ${item.measurement}`  : ` ${item.measurement}s` %></div>
      <% }%>
      <% if (item.isLowStock && isStockStatusVisible) {%>
      <div class="low-stock-indicator">Low Stock</div>
      <% }%>
      <button class="item-triple-dot-button" data-id="<%= item.id %>" data-parent="<%= item.parentItemName %>" data-name="<%= item.name %>">...</button>
    </div>
  </div>
  <% }); %>
</div>