<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
  <script src="/addTag.js" defer></script>
  <script src="/editTagName.js" defer></script>
  <script src="/deleteTag.js" defer></script>
  <script src="/sortObjects.js" defer></script>
  <script src="/cancelTagSearch.js" defer></script>
</head>

<body>
  <div class="tags-edit">
    <div class="header">
      <h1>Edit Tags</h1>
      <a href="/tags"><button class="done-edit-button">Done</button></a>
    </div>
    <form method="GET" class="search-form">
      <div class="search-field">
        <label class="search-icon-container" for="search"><svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M30.9942 29.0056C30.4451 28.4565 29.5547 28.4565 29.0055 29.0056C28.4563 29.5548 28.4563 30.4452 29.0055 30.9944L30.9942 29.0056ZM41.0055 42.9944C41.5547 43.5435 42.4451 43.5435 42.9942 42.9944C43.5434 42.4452 43.5434 41.5548 42.9942 41.0056L41.0055 42.9944ZM19.9999 34V32.5937C13.0445 32.5937 7.40611 26.9553 7.40611 20H5.99986H4.59361C4.59361 28.5086 11.4912 35.4062 19.9999 35.4062V34ZM33.9999 20H32.5936C32.5936 26.9553 26.9552 32.5937 19.9999 32.5937V34V35.4062C28.5085 35.4062 35.4061 28.5086 35.4061 20H33.9999ZM19.9999 6V7.40625C26.9552 7.40625 32.5936 13.0447 32.5936 20H33.9999H35.4061C35.4061 11.4914 28.5085 4.59375 19.9999 4.59375V6ZM19.9999 6V4.59375C11.4912 4.59375 4.59361 11.4914 4.59361 20H5.99986H7.40611C7.40611 13.0447 13.0445 7.40625 19.9999 7.40625V6ZM29.9999 30L29.0055 30.9944L41.0055 42.9944L41.9999 42L42.9942 41.0056L30.9942 29.0056L29.9999 30Z" />
          </svg></label>
        <input type="text" name="keyword" placeholder="Search" id="search" value="<%= keyword %>">
      </div>
    </form>
    <form action="/tags/edit" method="GET" class="sort-form">
      <select name="sort">
        <% sortOptions?.forEach(sortOption => {  %>
        <option value="<%= sortOption.value %>" <%= !sortOption.value && 'disabled' %> <%= sortOption.isSelected && 'selected' %>><%= sortOption.name %></option>
        <% })%>
      </select>
    </form>
    <% if(tags.length > 0) {%>
    <div class="tags-container">
      <% tags.forEach(tag => { %>
      <form action="/tags/delete" method="POST" class="delete-tag-form">
        <input type="text" value="<%= tag.id %>" name='tagID' hidden>
        <div class="tag-name" data-id="<%= tag.id %>"><%= tag.name %></div>
        <button type="button" class="delete-tag-button">
          <svg width="20" height="20" viewBox="0 0 119 119" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M96.2084 27.9306L93.1615 77.2207C92.3827 89.8137 91.9938 96.1105 88.8373 100.638C87.2763 102.876 85.2673 104.765 82.9368 106.184C78.2237 109.056 71.9151 109.056 59.2975 109.056C46.6637 109.056 40.3467 109.056 35.6304 106.179C33.2986 104.757 31.2887 102.865 29.7286 100.623C26.573 96.0884 26.1923 89.7828 25.431 77.172L22.4584 27.9306" stroke-width="8.5" stroke-linecap="round" />
            <path d="M15.0834 27.9306H103.583M79.2739 27.9306L75.9178 21.0066C73.6881 16.4072 72.573 14.1075 70.6501 12.6732C70.2238 12.3551 69.7719 12.0721 69.2995 11.827C67.17 10.7222 64.6144 10.7222 59.503 10.7222C54.2633 10.7222 51.6437 10.7222 49.4788 11.8733C48.999 12.1284 48.5412 12.4229 48.11 12.7536C46.1648 14.246 45.0781 16.6298 42.9049 21.3976L39.9269 27.9306" stroke-width="8.5" stroke-linecap="round" />
            <path d="M47.0417 82.0139V52.5139" stroke-width="8.5" stroke-linecap="round" />
            <path d="M71.6251 82.0139V52.5139" stroke-width="8.5" stroke-linecap="round" />
          </svg></button>
      </form>
      <% }) %>
    </div>
    <% }  else {%>
    <div class="search-default-message">
      <div class="icon-container">
      </div>
      <h2>Add tags to easily access items</h2>
      <button class="add-tag-button">Add tag</button>
    </div>
    <% }%>
    <%- include('partials/nav') %>
  </div>
</body>

</html>