<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
  <script src="/deleteItem.js" defer></script>
</head>

<body>
  <div class="items-edit">
    <div class="header">
      <h1>Edit Items</h1>
      <a href="/items"><button class="done-edit-button">Done</button></a>
    </div>
    <% if(items.length > 0) {%>
    <% items.forEach(item => { %>
    <form action="/items/edit-items-delete" method="POST">
      <input type="text" value="<%= item.id %>" name='itemID' hidden>
      <div class="item-name" data-id="<%= item.id %>"><%= item.name %></div>
      <button type="button" class="delete-item-button">Delete Item</button>
    </form>
    <% }) %>
    <% }  else {%>
    <div class="search-default-message">
      <div class="icon-container">
      </div>
      <h2>Add items to easily access them</h2>
      <button class="add-item-button">Add item</button>
    </div>
    <% }%>
    <%- include('partials/nav') %>
</body>
</div>

</html>