<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>Quanta</h1>
  <%- include('partials/summaryCard', { itemCount:2, totalQuantity: 12, totalValue: 35.67})  %>
  <%- include('partials/nav') %>
  <%- include('partials/insightCard', {title: 'Low Stock', subtitle: 'View all stock items that are low inventory', routeName: 'items/low-stock'}) %>
  <%- include('partials/insightCard', {title: 'Transactions', subtitle: 'See all item quantity updates', routeName: 'transactions'}) %>

  <div class="recent-items">
    <h2>Recent Items</h2>
    <%- include('partials/itemCardContainer', {items: [{id: 3, name: 'Item 1', quantity: 2, measurement: 45}, {id: 6, name: 'Item 2', quantity: 3}]}) %>
  </div>

  <div class="low-stock-items">
    <h2>Low Stock</h2>
    <%- include('partials/itemCardContainer', {items: [{id: 9, name: 'Item 3', quantity: 0}, {id: 12, name: 'Item 4', quantity: 0}]}) %>
  </div>
</body>

</html>