<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
  <script src="/activateItemTripleDots.js" defer></script>
</head>

<body class="dashboard">
  <h1>Quanta</h1>

  <a href="inventory-summary" class="inventory-summary">
    <div>
      <h2>Inventory Summary</h2>
      <%- include('partials/summaryTable', summary)  %>
    </div>
  </a>
  <%- include('partials/nav') %>
  <%- include('partials/insightCard', {title: 'Low Stock', subtitle: 'View all stock items that are low inventory', routeName: 'items/low-stock'}) %>
  <%- include('partials/insightCard', {title: 'Transactions', subtitle: 'See all item quantity updates', routeName: 'transactions'}) %>

  <div class="recent-items">
    <h2>Recent Items</h2>
    <%- include('partials/itemCardContainer', {items: recentlyUpdatedItems, isStockStatusVisible: false }) %>
  </div>

  <div class="low-stock-items">
    <h2>Low Stock</h2>
    <%- include('partials/itemCardContainer', {items: lowStockItems, isStockStatusVisible: false}) %>
  </div>
</body>

</html>