<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="transactions">
    <div class="header">
      <button class="back" onclick="history.back()">
        â†
      </button>
      <div class="item-name">
        <% if (item.parent) {%>
        <h1><%= item.parent.name %></h1>
        <p><%= item.name %></p>
        <% } else {%>
        <h1><%= item.name %></h1>
        <%  }%>
      </div>
    </div>
    <% if (transactions.length > 0) {%>
    <div class="transactions-container">

      <% transactions.forEach(transaction => { %>
      <a class="transaction-card" href="/transactions/<%= transaction.transactionID %>">
        <div class="transaction-header">
          <div class="transaction-type">
            <%= transaction.type %><%= transaction.reason ? ` (${transaction.reason})` : '' %>
          </div>
          <div class="transaction-date"><%= transaction.dateUpdated %></div>
        </div>
        <div class="transaction-item">
          <div class="item-update <%= transaction.quantityChange < 0 ? 'negative' : '' %>"><%= transaction.quantityChange %></div>
        </div>
      </a>
      <% });%>
    </div>
    <% } else {%>
    <p>There are currently no transactions for this item.</p>
    <% } %>
    <%- include('partials/nav') %>
  </div>

</body>

</html>