<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
  <script src="/calculateTotalValue.js" defer></script>
</head>

<body>
  <div class="new-variant-adding">
    <div class="actions">
      <button class="cancel" onclick="history.back()">x</button>
      <button onclick="document.querySelector('form').submit()" class="save-button">Save</button>
    </div>
    <form id="itemForm" action="/items/add-variant/<%= item.parent.id %>" method="POST">
      <div class="parent-name-field">
        <label>Parent Item</label>
        <div class="parent-info-section">
          <a href="/item/<%= item.parent.id %>"><%= item.parent.name %></a>
        </div>
      </div>
      <div class="item-name-field">
        <input type="text" name="name" id="item-name" placeholder="Enter Item Name" value="<%= item.name %>">
        <%- include('partials/formErrorMessage', {errorMessage: itemNameError}) %>
      </div>
      <div class="quantity-field">
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" id="quantity" value="<%= item.quantity %>">
        <select name="measurement" id="measurement">
          <option value="unit" <%= item.measurement === 'unit' ? 'selected' : null %>>unit</option>
          <option value="gram" <%= item.measurement === 'gram' ? 'selected' : null%>>g</option>
          <option value="kilogram" <%= item.measurement ==='kilogram' ? 'selected' : null%>>kg</option>
          <option value="pound" <%= item.measurement === 'pound'? 'selected' : null %>>lbs</option>
          <option value="inch" <%= item.measurement === 'inch'? 'selected' : null %>>in</option>
          <option value="meter" <%= item.measurement === 'meter' ? 'selected' : null%>>m</option>
          <option value="yard" <%= item.measurement === 'yard' ? 'selected' : null%>>yard</option>
        </select>
        <%- include('partials/formErrorMessage', {errorMessage: itemQuantityError}) %>
      </div>
      <div class="min-level-field">
        <label for="min-level">Min Level</label>
        <input type="number" name="minLevel" id="min-level" value="<%= item.minLevel %>">
        <input type="checkbox" name="notify" id="notify" <%= item.notification ? 'checked': null %>>
        <%- include('partials/formErrorMessage', {errorMessage: itemMinLevelError}) %>
        <label for=" notify">Notify Me</label>
      </div>
      <div class="price-field">
        <label for="price">Price</label>
        <input type="number" name="price" id="price" value="<%= item.price %>">
        <%- include('partials/formErrorMessage', {errorMessage: itemPriceError}) %>
      </div>
      <div class="total-value">
        <div class="section-title">Total Value</div>
        <div class="value"></div>
      </div>
      <div class="tag-field">
        <div>Tags</div>
        <% if(tags.length > 0) {%>
        <div class="tags">
          <% tags.forEach(tag => { %>
          <label><input type="checkbox" name="tags" value="<%= tag.id %>" class="tag-checkbox" <%= item.tags.find(itemTag => itemTag.id === tag.id) ? 'checked': null%> /><%= tag.name %></label>
          <% }) %>
          <%- include('partials/formErrorMessage', {errorMessage: itemTagError}) %>
        </div>
        <% } else {%>
        <div class="empty-tag-placeholder">--</div>
        <% } %>
      </div>
      <div class=" note-field">
        <label for="note">Note:</label>
        <textarea name="note" id="note">
            <%= item.note %>
          </textarea>
      </div>
    </form>
  </div>
  <%- include('partials/nav') %>
</body>

</html>