<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quanta | <%= title %></title>
  <script src="/addItem.js" defer></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>Items</h1>
  <div class="item-summary-card">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Items</th>
            <th>Total Qty</th>
            <th>Total Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= distinctItemQuantity %></td>
            <td><%= totalQuantity %></td>
            <td>$<%= totalValue %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="actions">
      <a href="/items/edit-items"><button class="edit-items-button">Edit</button></a>
    </div>
  </div>
  <%- include('partials/itemCardContainer', {items: items}) %>
  <button class="add-item-btn">Add</button>
  <%- include('partials/nav') %>
</body>

</html>