<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
  <script src="/enableItemVariantCreation.js" defer></script>
</head>

<body>
  <div class="actions">
    <a href="/items/<%=item.id%>"><button class="cancel">x</button></a>
    <button onclick="document.querySelector('form').submit()" class="save-btn">Save</button>
  </div>

  <form id="itemForm" action="" method="POST">
    <div class="item-name-field">
      <input type="text" name="itemName" id="item-name" placeholder="Enter Item Name" value="<%= item.name %>">
      <%- include('partials/formErrorMessage', {errorMessage: itemNameError}) %>
    </div>

    <div class="quantity-field">
      <label for="quantity">Quantity</label>
      <input type="number" name="quantity" id="quantity" value="<%= item.quantity %>" readonly>
      <a href="/items/edit-quantity/<%= item.id %>"><button  type="button" class="edit-item-quantity-btn">+/-</button></a>
      <select name="measurement" id="measurement">
        <option value="unit" <%= item.measurement === 'unit' ? 'selected' : null %>>unit</option>
        <option value="gram" <%= item.measurement === 'gram' ? 'selected' : null%>>g</option>
        <option value="kilogram" <%= item.measurement ==='kilogram' ? 'selected' : null%>>kg</option>
        <option value="pound" <%= item.measurement === 'pound'? 'selected' : null %>>lbs</option>
        <option value="inch" <%= item.measurement === 'inch'? 'selected' : null %>>in</option>
        <option value="meter" <%= item.measurement === 'meter' ? 'selected' : null%>>m</option>
        <option value="yard" <%= item.measurement === 'yard' ? 'selected' : null%>>yard</option>
      </select>
      <%- include('partials/formErrorMessage', {errorMessage: itemQuantityError}) %>
    </div>

    <div class="min-level-field">
      <label for="min-level">Min Level</label>
      <input type="number" name="minLevel" id="min-level" value="<%= item.minLevel %>">
      <input type="checkbox" name="notify" id="notify" <%= item.notify ? 'checked': null %>>
      <label for=" notify">Notify Me</label>
    </div>

    <div class="price-field">
      <label for="price">Price</label>
      <input type="number" name="price" id="price" value="<%= item.price %>">
      <%- include('partials/formErrorMessage', {errorMessage: itemPriceError}) %>
    </div>

    <div class="tag-field">
      <div>Tags</div>
      <% tags.forEach(tag => { %>
      <label><input type="checkbox" name="tags" value="<%= tag.id %>" class="tag-checkbox" <%= item.tags.find(itemTag => itemTag.id === tag.id)  ? 'checked': null%> /><%= tag.name %></label>
      <% }) %>
      <%- include('partials/formErrorMessage', {errorMessage: itemTagError}) %>
    </div>

    <div class=" notes-field">
      <label for="notes">Notes:</label>
      <textarea name="notes" id="notes">
        <%= item.notes %>
      </textarea>
    </div>
    <% if (item.variants.length > 0) {%>
    <div class="variant-creation-container">
      <h2>Item Variants</h2>
      <% item.variants.forEach(variant => { %>
      <div class="variant-field">
        <input type="text" placeholder="Variant" name="Variant-<%= variant.id %>" value="<%= variant.name %>" max="25">
        <input type="number" class="variant-quantity" placeholder="Quantity" name="Variant-<%= variant.id %>" value="<%= variant.quantity %>" min="0">
        <input type="number" class="variant-price" placeholder="Price" name="Variant-<%= variant.id %>" value="<%= variant.price %>" min="0">
        <%- include('partials/formErrorMessage', {errorMessage: variant.error}) %>
        <div class="delete-variant-btn">Delete Variant</div>
      </div>
      <%})%>
      <div class="add-variant-btn">Add Variant</div>
    </div>
    <% }%>
  </form>

  <button class="variant-adding-toggle-btn">Disable Item Variant</button>

  <%- include('partials/nav') %>
</body>

</html>