<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
  <script src="/cancelTagSearch.js" defer></script>
</head>

<body>
  <div class="header">
    <button class="back" onclick="history.back()">
      ←
    </button>
    <h1><%= tag.name %></h1>
    <% if (tag.items.length > 0 || keyword) {%>
    <form method="GET" class="search-form">
      <div class="search-field">
        <label class="search-icon-container" for="search">🔍</label>
        <input type="text" name="keyword" placeholder="Search" id="search" value="<%= keyword %>">
      </div>
    </form>
    <% }%>
  </div>
  <% if (tag.items.length > 0) { %>
  <div class="tag-summary-container">
    <table>
      <thead>
        <tr>
          <td>Items</td>
          <td>Total Qty</td>
          <td>Total Value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= tag.totalItemQuantity %></td>
          <td><%= tag.totalDistinctItemQuantity %></td>
          <td><%= tag.totalValue %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%- include('partials/itemCardContainer', {items: tag.items}) %>
  <% } else if (tag.items.length === 0 && !keyword) {%>
  <div class="empty-tag-message-container">
    <div class="icon-container"></div>
    <h2>It's empty here</h2>
    <p>Tags will give you an alternative way to group your items so its easier to search for items across your inventory.</p>
    <p>You can add tags by editing items.</p>
  </div>
  <% } else if (tag.items.length === 0 && keyword) { %>
  <div class="no-result-found-message-container">
    <div class="icon-container"></div>
    <h2>No item matching the '<%= keyword%>' keyword</h2>
    <p>Try using a different keyword.</p>
  </div>
  <% }%>
  <%- include('partials/nav') %>
</body>

</html>