<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
  <script src="/cancelTagSearch.js" defer></script>
  <script src="/activateItemTripleDots.js" defer></script>
</head>

<body>
  <div class="tag">
    <div class="header">
      <button class="back" onclick="history.back()">
        ←
      </button>
      <h1><%= tag.name %></h1>
    </div>
    <% if (tag.items.length > 0 || keyword) {%>
    <form method="GET" class="search-form">
      <div class="search-field">
        <label class="search-icon-container" for="search"><svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M30.9942 29.0056C30.4451 28.4565 29.5547 28.4565 29.0055 29.0056C28.4563 29.5548 28.4563 30.4452 29.0055 30.9944L30.9942 29.0056ZM41.0055 42.9944C41.5547 43.5435 42.4451 43.5435 42.9942 42.9944C43.5434 42.4452 43.5434 41.5548 42.9942 41.0056L41.0055 42.9944ZM19.9999 34V32.5937C13.0445 32.5937 7.40611 26.9553 7.40611 20H5.99986H4.59361C4.59361 28.5086 11.4912 35.4062 19.9999 35.4062V34ZM33.9999 20H32.5936C32.5936 26.9553 26.9552 32.5937 19.9999 32.5937V34V35.4062C28.5085 35.4062 35.4061 28.5086 35.4061 20H33.9999ZM19.9999 6V7.40625C26.9552 7.40625 32.5936 13.0447 32.5936 20H33.9999H35.4061C35.4061 11.4914 28.5085 4.59375 19.9999 4.59375V6ZM19.9999 6V4.59375C11.4912 4.59375 4.59361 11.4914 4.59361 20H5.99986H7.40611C7.40611 13.0447 13.0445 7.40625 19.9999 7.40625V6ZM29.9999 30L29.0055 30.9944L41.0055 42.9944L41.9999 42L42.9942 41.0056L30.9942 29.0056L29.9999 30Z" />
          </svg></label>
        <input type="text" name="keyword" placeholder="Search" id="search" value="<%= keyword %>">
      </div>
    </form>
    <% }%>
    <% if (tag.items.length > 0) { %>
    <div class="tag-summary-container">
      <table>
        <thead>
          <tr>
            <th>Items</th>
            <th>Total Qty</th>
            <th>Total Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= tag.totalDistinctItemQuantity !== null ?  tag.totalDistinctItemQuantity : 0 %></td>
            <td><%= tag.totalItemQuantity !== null ? tag.totalItemQuantity : 0 %></td>
            <td>$<%= tag.totalValue !== null?  tag.totalValue : 0.00 %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <%- include('partials/itemCardContainer', {items: tag.items}) %>
    <% } else if (tag.items.length === 0 && !keyword) {%>
    <div class="empty-tag-message-container">
      <div class="icon-container"></div>
      <h2>It's empty here</h2>
      <p>Tags will give you an alternative way to group your items so its easier to search for items across your inventory.</p>
      <p>You can add tags by editing items.</p>
    </div>
    <% } else if (tag.items.length === 0 && keyword) { %>
    <div class="no-result-found-message-container">
      <div class="icon-container"></div>
      <h2>No item matching the '<%= keyword%>' keyword</h2>
      <p>Try using a different keyword.</p>
    </div>
    <% }%>
    <%- include('partials/nav') %>
  </div>
</body>

</html>